<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="7.1.1" targetFramework="net462" />
  <package id="PostSharp" version="5.0.33" targetFramework="net462" developmentDependency="true" />
  <package id="PostSharp.Redist" version="5.0.33" targetFramework="net462" />
</packages>